<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>园所信息</title>
</head>
<body>

<h1>this is a user-service page</h1>
<a href="/kdgts/wxController.do?goMenu">back to kdgt</a>

<button id="getData">获取2.0数据</button>
</body>
<script
        src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
<script>
    $("#getData").click(
        $.ajax({
            type: "get",
            url: "/kdgts/unIntcptNoticeController.do?getLastFourNoticePhoto&page=1",
            data: "",
            dataType: "json",
            success: function (response) {
                alert(JSON.stringify(response))
            }
        })
    )
</script>
</html>